img{
    margin-bottom: 20px;
}
.nav-link{
    color: white;
    font-size: 15px;
}
.home{
    color: #d0a203;
}
.title{
    font-size: 120px;
    color: #d0a203;
}
.stitle{
    font-size: 15px;
    color: #d0a203;
}
header{
    background-color: black;
}
